/* CustomFonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@500&display=swap');

* {
    font-family: 'poppins', sans-serif;
    margin: 0;
}
body {
    background: #ffff;
    margin-top: 100px;
}

/* Hero Section */

.hero, .blogs {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: auto;
    width: 1100px;
    height: 546px;
    border-radius: 20px;
    background-color: #161616;
}
.hero {
    animation-name: hero;
    animation-duration: 2s;
}
@keyframes hero {
    from {
        transform: translateY(-100px);
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    to {
        transform: translatey(0);
    }
}
.hero-detail {
    color: #ffff;
    width: 450px;
    height: 240px;
    margin-left: 100px;
    margin-top: 60px;
    margin-bottom: 60px;
    animation-name: detail;
    animation-duration: 2s;
}
@keyframes detail {
    from {
        transform: translateY(200px);
        transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    to {
        transform: translateY(0);
    }
}
.hero-detail h1 {
    font-family: 'poppins', sans-serif;
    font-family: Poppins;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 20px;
    
}
.hero-detail p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.hero-detail a {
    text-decoration: none;
    background-color: #DD0000;
    padding: 16px 25px;
    color: #ffff;
    border-radius: 5px;
}
.angle {
    margin-left: 10px;
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    color: #ffff;
}
.hero-detail a:hover .angle {
    transform: translateX(7px);
}
.banner {
    width: 500px;
}
.hero img {
    width: 500px;
    position: relative;
    top: 20px;
    right: 50px;
}

/* BlogSection */

.blogs {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 312px repeat(3, 1fr);
    gap: 24px;
    background: #ffff;
    height: 100%;
    margin-bottom: 100px;
}
.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-row: 1/span 3;
    width: 312px;
    height: 312px;
    background-color: #161616;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
}
.navigation a {
    text-decoration: none;
    font-size: 20px;
    color: rgba(22, 22, 22, 1);
    ;
    padding: 16px 39px;
    background-color: #FFFFFF;
    text-align: center;
    align-items: center;
    border-radius: 10px;
}
.navigation .blog-btn {
    background-color: #DD0000;
}
.blog {
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    transition: 0.5s;
}
.blog:hover {
    transform: scale(1.1);
}
.blog-detail {
    padding: 20px 20px;
}
.blog img {
    width: 100%;
}
.flag img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 40%;
}
.blog-detail h3 {
    font-size: 16px;
    font-weight: 600px;
    line-height: 27px;
}

.blog .transfer-btn {
    display: block;
    border: 1px solid #161616;
    margin-bottom: 15px;
    padding: 4px 15px;
    border-radius: 5px;
    background:none;
}
i, .blog {
    color: rgba(22, 22, 22, 0.7);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
}
.blog span {
    margin-left: 10px;
    margin-right: 5px;
}

/* FooterArea */

.footer {
    background-color: #161616;
    width: 100%;
    height: 444px;
}

.footer h1 {
    padding-top: 100px;
    padding-bottom: 50px;
    color: #FFFFFF;
    text-align: center;
}
hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 1000px;
    margin: auto;
}
.footer-menu {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: auto;
    margin-top: 50px;
}
.footer-menu a {
    text-decoration: none;
    color: rgba(185, 185, 185, 1);
    padding-bottom: 20px;
}
.social-icons {
    text-align: center;
    margin: auto;
}
.social-icons .icon{
    color: #1DA1F2;
    font-size: 25px;
    margin-left: 10px;
}

/* MediaQuaries */

@media screen and (max-width: 688px) {
    .hero {
        margin: 0 20px;
        width: 260%;
        height: 1020px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .hero-detail{
        margin-left: 0;
    }
    .banner {
        margin-bottom: 12px;
        margin-left: 60px;
        align-items: center;
    }
    .banner img {
        width: 100%;
    }
    .blogs {
        grid-template-columns: 1fr;
    }
    .navigation {
        background: none;
        align-items: center;
        width: 100%;
    }
    .navigation a {
        border: 1px solid #E8E8E8;
    }
    .footer {
        width: 280%;
        height: 800px;
        background-color: #161616;
    }

    .footer-menu {
        flex-direction: column;
        align-items: center;
    }

}

@media only screen and (min-width: 689px) and(max-width: 992px) {
    .blogs {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .blog {
        grid-column-start: 3;
        grid-column-end: -1;
    }
    .navigation {
        grid-column-start: 1;
        grid-column-end: 2;
    }
}